.description {
  text-align: center;
  font-size: 30px;
}

h1 {
  text-align: center;
  color: white;
}

h2 {
}

#apple-pie {
  padding: 0;
  margin: 0;
}

.head-pic {
  padding: 0;
  size-adjust: ;
}
